.businesses-index-item:hover {
    box-shadow: 0 0 18px #0000001a;
    transition: all ease 0.4s;
    cursor: pointer;
}

.businesses-index-item {
    padding:10px;
    border-color: antiquewhite;
    border: 1px solid lightgrey;
    border-left: none;
    border-right:none ;
    border-top:none;
    margin:10px;
    width: 732.9px;
    display: flex;
    flex-direction: row;
    gap:2rem;
    height:274.41px;
    overflow: hidden;
    border-radius: 4px;
    font-family: 'Open Sans';
}
.index-image-div{
    margin-top:10px;
}

.index-item-info{
    height:170px;
    overflow: hidden;
}

.index-item-name{
    font-size: 25px;
    font-weight: bolder;
   padding-top:10px;
}
.index-item-copy{
    padding-top: 5px;
    padding-bottom: 5px;
}

.index-website{
    margin-left: 350px;
    height: 40px;
    width:120px;
    background-color: white;
    border:1px solid lightgrey;
    border-radius: 5px 5px 5px 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.index-website:hover{
    background-color: #e84e36;
    box-shadow: 1px 3px 2px 1px rgba(5, 15, 130, .2);
    cursor: pointer;
    transition: all ease 0.8s;

}

.hour-index{
    display: flex;
    flex-direction: row;
    gap:0.3rem;
}
.review-index{
    display: flex;
    flex-direction: row;
    gap:0.3rem;
    .index-reviews{
        color:#6E7072;
        cursor: pointer;
        padding-right: 8px;
    }
}

.categories-index{
     display: flex;
     flex-direction: row;
     gap: 0.5rem;
}

.category-tag{
    background-color: rgb(235, 230, 230);
    padding: 3px;
    border-radius: 10px 10px 10px 10px;
    color: #6E7072;
    font-weight: bold;
}

.categories-price{
     display: flex;
     align-items: center;
     gap:0.4rem;
     font-size: 14px;
     color: #6E7072;
    
}

.search-index-map{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
     .index-search-businesses-info{
        min-width: 500px;
     }
    
}

#map-info-pic{
    width: 200px;
    height: 200px;
}






