
.header-button{
     color:brown
}

.profile-pic{
   
     padding: 5px;
     width: 200px;
     height: 195px;
     border-radius: 10px 10px 10px 10px;
}

.businesses-index-page-box{
   font-family: 'Open Sans', sans-serif;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}


.buinesses-index-page{
   width:65%;
   min-width: 500px;

}

.businesses-map{
  max-width: 250px ;
  position: sticky;
  top: 100px;
}