
/* .search-container{
    position: fixed;
    margin-left: 150px;
} */

.nav-logo{
    height:100px;
    margin-left: 10px;
    box-shadow: 2px 2px 2px 2px rgba(3, 6, 41, 0.2);
}

*{
    box-sizing:border-box;
}

  a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}


body{
    margin:0;
    font-size: 14px;;
   
}

.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding: 0 1rem;
}

.filler-links{
     padding:0;
     margin:0;
     display:flex;
     align-items: center;
     gap:1rem;
}


.filler-links > *{
    background-color: white;
}



   #filler2:hover{
    background-color: lightgrey;
    transition: all ease 0.5s;
    padding:10px;
    
}

   #filler1:hover{
    background-color: lightgrey;
    transition: all ease 0.5s;
    padding:10px;
   
}

 

    #filler3:hover {
        background-color: lightgrey;
        transition: all ease 0.5s;
        padding:10px;
        border-radius:50%;
    }

    #filler4:hover {
        background-color: lightgrey;
        transition: all ease 0.5s;
        padding:10px;
        border-radius:50%;
    }
 
   