/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *=require api/search-bar

 *=require api/nav-new
 *= require api/showpage
 *= require api/review
 *= require api/index-item
 *= require api/listing
 *= require api/form
 *= require api/greeting
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
 
  header a{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0;
    background-color: #e84e36;
  }

  .logo{
    height: 150px ;
    width: 150px;
   
  }

 

  #map-container{
    width:500px;
    height:100vh;
    border: 2px solid lightgray;
   

  }
  
  body{
     margin:auto;
     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   
  }

  
